.head_text{
    text-align: center;
    margin: auto;
    color: #F2D1C9;
    font-family: 'Montserrat', sans-serif;
}

.main_block{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 1200px;
    width: 700px;
    font-family: 'Montserrat', sans-serif;
    color: #F2D1C9;
}

/*for pages with tables*/
.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    height: 1200px;
    font-family: 'Montserrat', sans-serif;
    color: #F2D1C9;
}

table{
    color: #F2D1C9;
    width: 1200px;
    margin: auto;
}
th{
    background-color: #847996;
    color: #333;
}
td{
    color: #F2D1C9;
}
.database_table{
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

/*head menu*/
.menu-main {
    list-style: none;
    margin: 5px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
    text-decoration: none;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}
.menu-main a, .menu-main a:visited {
    color: #9d999d;
}
.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {
    left: 0;
}
.menu-main a:hover:after, .menu-main .current:after {
    right: 0;
}

@media (max-width: 550px) {
    .menu-main {padding-top: 0;}
    .menu-main li {display: block;}
    .menu-main li:after {content: none;}
    .menu-main a {
        padding: 25px 0 20px;
        margin: 0 30px;
    }
}

body{
    background-color: #1C3144;
}