<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Managers</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <h1 class="head_text">Громадський транспорт міста Миколаїв</h1>
  <ul class="menu-main">
    <li><a href="/managers">Керівники</a></li>
    <li><a href="/dispatchers">Диспетчер</a></li>
    <li><a href="/drivers">Водії</a></li>
    <li><a href="/clients">Пасажири</a></li>
  </ul>

  <div class="wrapper">
    <h1>Диспетчери</h1>
    <table class="database_table">
      <thead>
      <tr>
        <th>#</th>
        <th>ПІБ</th>
        <th>Компанія</th>
        <th>Видалити</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="d : ${dispatchers}">
        <td th:text="${d.id}"></td>
        <td th:text="${d.dispatcherFullName}"></td>
        <td th:text="${d.company}"></td>
        <td><a th:href="@{/dispatchers/{id}(id=${d.id})}" class="button_table">×</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="enter_div">
      <h1>Додати диспетчера</h1>
      <form action="dispatchers/add_dispatcher" method="post" class="enter_form">
        <div class="field">
          <label for="dispatcher_name">ПІБ диспетчера: </label>
          <input type="text" name="dispatcherName" id="dispatcher_name">
          <br>
        </div>
        <div class="field">
          <label for="dispatcher_company">Назва компанії:</label>
          <input type="text" name="dispatcherCompany" id="dispatcher_company">
          <br>
        </div>
        <input type="submit" value="Add">
      </form>
      <a href="/index" class="nav_button">На головну сторінку</a>
    </div>
</body>
</html>