<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Managers</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <h1 class="head_text">Громадський транспорт міста Миколаїв</h1>
  <ul class="menu-main">
    <li><a href="/managers">Керівники</a></li>
    <li><a href="">Диспетчер</a></li>
    <li><a href="">Водії</a></li>
    <li><a href="">Пасажири</a></li>
  </ul>

  <div class="wrapper">
    <h1>Керівники</h1>
    <table class="database_table">
      <thead>
      <tr>
        <th>#</th>
        <th>ПІБ</th>
        <th>Номер телефону</th>
        <th>Компанія</th>
        <th>Видалити</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="m : ${managers}">
        <td th:text="${m.id}"></td>
        <td th:text="${m.fullName}"></td>
        <td th:text="${m.phoneNumber}"></td>
        <td th:text="${m.company}"></td>
        <td><a th:href="@{/managers/{id}(id=${m.id})}" class="button_table">×</a></td>
      </tr>
      </tbody>
    </table>
      <div class="enter_div">
        <h1>Додати керівника</h1>
        <form action="managers/add_manger" method="post" class="enter_form">
          <label for="manager_name">ПІБ керівника: </label>
          <input type="text" name="managerName" id="manager_name">
          <br>
          <label for="manager_company">Назва компанії:</label>
          <input type="text" name="managerCompany" id="manager_company">
          <br>
          <label for="manager_phone_number">Номер телефону керівника:</label>
          <input type="text" name="managerPhoneNumber" id="manager_phone_number">
          <br>
          <input type="submit" value="Add">
        </form>
        <a href="/index" class="nav_button">To main menu</a>
      </div>
  </div>
</body>
</html>