<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="head_text">Громадський транспорт міста Миколаїв</h1>
    <ul class="menu-main">
        <li><a href="/managers">Керівники</a></li>
        <li><a href="">Диспетчер</a></li>
        <li><a href="">Водії</a></li>
        <li><a href="">Пасажири</a></li>
    </ul>
    <div class="main_block">
        <p>Цей веб-додаток створений для проходження технологічної практики у Миколаївскому політехнічнічному фаховому коледжі</p>
        <p>Тема особистого завдання: "Громадський транспорт"</p>
        <p>Розробив веб додаток здобувач освіти групи П-419, Зайцев Олег Валентинович</p>
    </div>
</body>
</html>